#a{
    width: 60px;
    height:45px;
    font-size: 20px;
}
#b{
    width: 60px;
    height:45px;
    font-size: 20px;
}
#c{
    width: 60px;
    height:45px;
    font-size: 20px;
}
#d{
    width: 60px;
    height:45px;
    font-size: 20px;
}
#e{
    width: 60px;
    height:45px;
    font-size: 25px;
}
#f{
    width: 60px;
    height:45px;
    font-size: 20px;
}
#g{
    width: 60px;
    height:45px;
    font-size: 20px;
}
#h{
    width: 60px;
    height:45px;
    font-size: 20px;
}
#j{
    width: 60px;
    height:45px;
    font-size: 20px;
}